$text-shadow: (1px 1px 3px rgba(0, 0, 0, 0.15));
$text-shadow-medium: (1px 1px 2px rgba(0, 0, 0, 0.45));
$text-shadow-large: (3px 3px 5px rgba(0, 0, 0, 0.25));

$box-shadow-small: (0px 0px 25px 0px rgba(0, 0, 0, 0.15));
$box-shadow-medium: (0px 0px 12px hsla(0, 0%, 2%, 0.386));
$box-shadow-large: (10px 10px 13px -8px rgba(0, 0, 0, 0.48));